<div class="npVideo">
    <np-video component="component" id="{{component.data.id}}" class="{{component.type}}">
        <div class="debug">
            <h3>{{component.type}} --
                <small>{{component.idx}}</small>
            </h3>
        </div>
        <!--<video class="videoWidth" height="{{component.data.height}}" width="{{component.data.width}}" poster="{{component.data.poster}}" preload="{{component.data.preload}}" ng-src="{{component.data.src}}" controls="controls" mediaelelement>-->
        <video ng-src="{{component.data.src}}" class="videoWidth video-tag" controls="controls" >
            <source ng-repeat="source in npVideo.sources" type="video/{{source.type}}" ng-src="{{source.src}}" />
        </video>
        <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
    </np-video>
</div>